{% extends "layout.html" %}

{% block content %}
<table>
    <tr>
        <th>Key/Section</th>
        <th>Schematic</th>
        <th>Board</th>
    </tr>
    <tr>
        <td>Preamble</td>
        <td><pre>{{keyboard.schematic_preamble}}</pre></td>
        <td><pre>{{keyboard.board_preamble}}</pre></td>
    </tr>
    {% for row in keyboard.rows %}
        {% for key in row %}
            <tr>
                <td>{{key.name}}</td>
                <td><pre>{{key.schematic_scr}}</pre></td>
                <td><pre>{{key.board_scr}}</pre></td>
            </tr>
        {% endfor %}
    {% endfor %}
    <tr>
        <td>Column Connections</td>
        <td><pre>{{keyboard.column_scr}}</pre></td>
        <td></td>
    </tr>
    <tr>
        <td>Footer</td>
        <td><pre>{{keyboard.schematic_footer}}</pre></td>
        <td><pre>{{keyboard.board_footer}}</pre></td>
    </tr>
</table>

{% endblock %}
