{% extends "layout.html" %}

{% block content %}
    <h1>Kalerator</h1>
    <h3>Helping you turn Keyboard-Layout-Editor.com layouts into PCB's by generating EAGLE scripts.</h3>

    <h4>Enter a Keyboard-Layout-Editor URL:</h4>
    <form method="post">
        <p><input name="kle_url" type="url" placeholder="http://www.keyboard-layout-editor.com/#/layouts/..." size="80"> <input type="submit"></p>
        <p>EAGLE Version:
            <input type="radio" name="eagle_version" value="paid" checked>Paid
            <input type="radio" name="eagle_version" value="free">Free
        </p>
    </form>
{% endblock %}
