{% extends "layout.html" %}

{% block content %}
<table>
    <tr>
        <th></th>
        <th>
            Schematic<br>
            (<a href="/download/schematic/{{storage_type}}/{{layout_id}}?eagle_version={{eagle_version}}&switch_footprint={{switch_footprint}}&diode_type={{diode_type}}&smd_led={{smd_led}}">download</a>)
        </th>
        <th>
            Board<br>
            (<a href="/download/board/{{storage_type}}/{{layout_id}}?eagle_version={{eagle_version}}&switch_footprint={{switch_footprint}}&diode_type={{diode_type}}&smd_led={{smd_led}}">download</a>)
        </th>
    </tr>
    <tr>
        <th>Preamble</th>
        <td><pre>{{keyboard.schematic_preamble}}</pre></td>
        <td><pre>{{keyboard.board_preamble}}</pre></td>
    </tr>
    {% for key in keyboard %}
					<tr>
							<th>{{key.name}}</th>
							<td><pre>{{key.schematic_scr}}</pre></td>
							<td><pre>{{key.board_scr}}</pre></td>
					</tr>
    {% endfor %}
    <tr>
        <th>Column Connections</th>
        <td><pre>{{keyboard.column_schematic_scr}}</pre></td>
        <td><pre>{{keyboard.column_board_scr}}</pre></td>
    </tr>
    <tr>
        <th>Footer</th>
        <td><pre>{{keyboard.schematic_footer}}</pre></td>
        <td><pre>{{keyboard.board_footer}}</pre></td>
    </tr>
</table>

{% endblock %}
